
body {
}

.exampleContainer {
  border: solid 1px #000;
  float: left;
  height: 200px;
  margin: 80px 0 80px 80px;
  position: relative;
  width: 200px;
}

.exampleContainer input {
  bottom: 5px;
  color: #888;
  font: 11px bold verdana,sans-serif;
  position: absolute;
  right: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 80px;
}

.copik {
  margin: 80px auto;
}